[submodule "_sinatra-intro"]
	path = _sinatra-intro
	url = https://github.com/yukimotopress/sinatra-intro
[submodule "_gem-dev"]
	path = _gem-dev
	url = https://github.com/yukimotopress/gem-dev
[submodule "_blockchains"]
	path = _blockchains
	url = https://github.com/yukimotopress/blockchains
[submodule "_auto"]
	path = _auto
	url = https://github.com/yukimotopress/auto
[submodule "_micro"]
	path = _micro
	url = https://github.com/yukimotopress/micro
[submodule "_practices"]
	path = _practices
	url = https://github.com/yukimotopress/practices
[submodule "_practicing"]
	path = _practicing
	url = https://github.com/yukimotopress/practicing
[submodule "_start"]
	path = _start
	url = https://github.com/yukimotopress/start
[submodule "_gem-tasks"]
	path = _gem-tasks
	url = https://github.com/yukimotopress/gem-tasks
[submodule "_http"]
	path = _http
	url = https://github.com/yukimotopress/http
[submodule "_fizzbuzz"]
	path = _fizzbuzz
	url = https://github.com/yukimotopress/fizzbuzz
