---
layout: page
title:  Welcome
---

<style>
/* github avatar added w avatar plugin  -- todo: move to "custom css" file */
img.avatar {
  border-radius: 3px;
  border: 0;
}

/* style for author  - in byline for books */

a.author {
   color: black;
   text-decoration: none;
}

a.author:hover,
a.author:focus {
    text-decoration: underline;
}


/* style for tags e.g. listing gems referenced in book */

.tags {
   font-size: 70%;
}

.tags a {
   color: black;
   text-decoration: none;
}

.tags a:hover,
.tags a:focus {
    text-decoration: underline;
}
</style>


{% include thanks.html %}


<h1>Yuki &amp; Moto Press Bookshelf</h1>

<p>Welcome. Free Books in the Yuki &amp; Moto Press Series about
  Ruby 'n' Friends include:
</p>


<p>
  <b><a href="gem-dev">Gem Developer's Guide</a></b>
      by
      {% include author.html author='Nick Quaranto' %},
      {% include author.html author='Eric Hodel' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/gem-dev">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/gem-dev"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/gem-dev/stargazers"
    data-count-api="/repos/yukimotopress/gem-dev#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/gem-dev on GitHub">Star</a>
</p>

<p>
  <b><a href="start">How I Start - Let's Build a Gem Together!</a></b>
      by
      {% include author.html author='Steve Klabnik' %}
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/start">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/start"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/start/stargazers"
    data-count-api="/repos/yukimotopress/start#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/start on GitHub">Star</a>
 <span class="tags">
   <a href="https://github.com/bundler/bundler">#bundler</a>
   <a href="https://github.com/ruby/rake">#rake</a>
   <a href="https://github.com/seattlerb/minitest">#minitest</a>
   <a href="https://github.com/ruby/rdoc">#rdoc</a>
  </span>
</p>


<p>
  <b><a href="gem-tasks">Hoe Developer's Guide - Build, Package and Publish Gems with Rake Tasks - Ready-to-Use Build Scripts</a></b>
      by
      {% include author.html author='Ryan Davis' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/gem-tasks">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/gem-tasks"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/gem-tasks/stargazers"
    data-count-api="/repos/yukimotopress/gem-tasks#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/gem-tasks on GitHub">Star</a>
 <span class="tags">
   <a href="https://github.com/ruby/rake">#rake</a>
   <a href="https://github.com/seattlerb/hoe">#hoe</a>
  </span>
</p>



<p>
  <b><a href="sinatra-intro">Sinatra Intro</a></b>
      by
      {% include author.html author='Chris Schneider' %},
      {% include author.html author='Zachary Scott' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/sinatra-intro">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/sinatra-intro"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/sinatra-intro/stargazers"
    data-count-api="/repos/yukimotopress/sinatra-intro#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/sinatra-intro on GitHub">Star</a>
 <span class="tags">
    <a href="https://github.com/sinatra/sinatra">#sinatra</a>
    <a href="https://github.com/rack/rack">#rack</a>
    <a href="https://github.com/rtomayko/tilt">#tilt</a>
  </span>
</p>


<p>
  <b><a href="practicing">Best of Practicing Ruby</a></b>
      by
      {% include author.html author='Gregory Brown' %},
      {% include author.html author='Luke Francl' %},
      {% include author.html author='Magnus Holm' %},
      {% include author.html author='Aaron Patterson' %},
      {% include author.html author='Solomon White' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/practicing">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/practicing"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/practicing/stargazers"
    data-count-api="/repos/yukimotopress/practicing#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/practicing on GitHub">Star</a>
   <span class="tags">
    <a href="https://github.com/tenderlove/racc">#racc</a>
    <a href="https://github.com/seattlerb/minitest">#minitest</a>
    <a href="https://github.com/rubysolo/dentaku">#dentaku</a>
  </span>

</p>


<p>
  <b><a href="blockchains">Programming Cryptocurrencies and Blockchains</a></b>
      by
      {% include author.html author='Gerald Bauer' %}, et al
  <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/blockchains">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/blockchains"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/blockchains/stargazers"
    data-count-api="/repos/yukimotopress/blockchains#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/blockchains on GitHub">Star</a>
<span class="tags">
  <a href="https://github.com/openblockchains/blockchain.lite.rb">#blockchain-lite</a>
  <a href="https://github.com/openblockchains/merkletree.rb">#merkletree</a>
  <a href="https://github.com/openblockchains/ledger.lite.rb">#ledger-lite</a>
  <a href="https://github.com/openblockchains/centralbank">#centralbank</a>
  <a href="https://github.com/openblockchains/tulipmania">#tulipmania</a>
  <a href="https://github.com/bitshilling/bitshilling.tools">#shilling</a>
  <a href="https://github.com/openblockchains/copycats">#copycats</a>
  <a href="https://github.com/openblockchains/peer-to-peer.rb">#p2p</a>
</span>
</p>


<p>
  <b><a href="auto">Gem Series ++ Project Automation &amp; Database Documentation Tools</a></b>
      by
      {% include author.html author='Gerald Bauer' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/auto">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/auto"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/auto/stargazers"
    data-count-api="/repos/yukimotopress/auto#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/auto on GitHub">Star</a>
 <span class="tags">
   <a href="https://github.com/quikstart/quik">#quik</a>
   <a href="https://github.com/drjekyllthemes/drjekyll">#drjekyll</a>
   <a href="https://github.com/mrhydescripts/mrhyde">#mrhyde</a>
   <a href="https://github.com/seattlerb/hoe">#hoe</a>
   <a href="https://github.com/schemadoc/schemadoc">#schemadoc</a>
   <a href="https://github.com/ctran/annotate_models">#annotate</a>
   <a href="https://github.com/voormedia/rails-erd">#erd</a>
 </span>
</p>


<p>
  <b><a href="micro">Gem Series ++ Web Services (HTTP JSON APIs) the Modern Micro Way</a></b>
      by
      {% include author.html author='Gerald Bauer' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/micro">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/micro"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/micro/stargazers"
    data-count-api="/repos/yukimotopress/micro#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/micro on GitHub">Star</a>
 <span class="tags">
   <a href="https://github.com/rubylibs/almost-sinatra">#almost-sinatra</a>
   <a href="https://github.com/rubylibs/webservice">#webservice</a>
   <a href="https://github.com/worlddb/world.db">#worlddb</a>
   <a href="https://github.com/beerkit/beer.db">#beerdb</a>
   <a href="https://github.com/sportdb/sport.db">#sportdb</a>
   <a href="https://github.com/feedparser/feedparser">#feedparser</a>
   <a href="https://github.com/indieweb/microformats-ruby">#microformats</a>
   <a href="https://github.com/json-next/json-next">#json-next</a>
   <a href="https://github.com/feedtxt/feedtxt">#feedtxt</a>
  </span>
</p>



<p>
  <b><a href="http">Net::HTTP by Example / Net::HTTP Cheat Sheet</a></b>
      by
      {% include author.html author='August Lilleaas' %}, et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/http">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/http"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/http/stargazers"
    data-count-api="/repos/yukimotopress/http#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/http on GitHub">Star</a>
  <span class="tags">
  <a href="https://github.com/rubylibs/fetcher">#fetcher</a>
</span>
</p>


<p>
  <b><a href="fizzbuzz">FizzBuzz (1, 2, Fizz, 4, Buzz,...) by Example - There's More Than One Way To Do It</a></b>
      by
      {% include author.html author='Tom Dalling' %},
      {% include author.html author='Paweł Świątkowski' %},
      {% include author.html author='Gerald Bauer' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/fizzbuzz">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/fizzbuzz"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/fizzbuzz/stargazers"
    data-count-api="/repos/yukimotopress/fizzbuzz#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/fizzbuzz on GitHub">Star</a>
  <span class="tags">
  <a href="https://github.com/rubylibs/fizzbuzzer">#fizzbuzzer</a>
  <a href="https://github.com/katafrakt/noaidi">#noaidi</a>
  <a href="https://github.com/dry-rb/dry-matcher">#dry-matcher</a>
</span>
</p>


<p>
  <b><a href="practices">Ruby Best Practices</a></b>
      by
      {% include author.html author='Gregory Brown' %}
    <span style="font-size: 70%;">
         (<a href="https://github.com/yukimotopress/practices">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/yukimotopress/practices"
    data-icon="octicon-star"
    data-count-href="/yukimotopress/practices/stargazers"
    data-count-api="/repos/yukimotopress/practices#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star yukimotopress/practices on GitHub">Star</a>
 <span class="tags">
   <a href="https://github.com/seattlerb/minitest">#minitest</a>
  </span>
</p>



<div style="font-size: 70%; border-top: 1px solid #767676; margin-top: 60px;">

<p>
More Bookshelves
</p>

<a href="http://hydepress.github.io">Hyde Press</a> •
<a href="http://funpress.github.io">Fun Press</a> •
<a href="http://worldclassics.github.io">World Classics</a>


<p style="text-align: center; margin-top: 25px; color: #767676;">
     Built with <a href="http://github.com/octobook">Octobook</a>
      (powered by <a href="https://jekyllrb.com">Jekyll</a>) on {{ site.time }} in 2.371 seconds.<br>
      Hosted on <a href="https://pages.github.com">GitHub Pages</a>.
      &lt;/&gt; <a href="https://github.com/yukimotopress/yukimotopress.github.io">Source</a> on GitHub.
      (0) Dedicated to the public domain.
  </p>


</div>


<!-- GitHub Buttons
   Place this tag right after the last button or just before your close body tag.
    see https://buttons.github.io
  -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
